.backgroundimg{
    width: 100%;
    height: 100%; 
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;   
    background:  no-repeat top center / cover;
    position: relative; 
}

html, body {
    height: 100% !important;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
    color: #FFFFFF;
    font-weight: normal;
}
nav {
    position: absolute;
    top: 0;
    width: 100%;
}

.guesslogocontainer{
    text-align: center;
    padding: 50px;
}

#slide1 .backgroundimg{
background-attachment: fixed;
}

#slide1{
    height: 840px;
}

#slide2{
    height: 1150px;
    background-attachment: fixed;
}
#slide3{
    height: 760px;
    background-attachment: fixed;
}
.container p{
    color: #FFFFFF;
}

.firstcontent{
    width: 370px;
    padding-top: 20px;
    position: relative;
    opacity: 0;
    left: 100px;
}
.Content1{
    left: 100px;
    opacity: 0;
    padding-top: 20px;
    position: relative;
    width: 370px;
    z-index: 1006;
    top: 200px;
}
.Content2{
    opacity: 0;
    padding-top: 20px;
    position: absolute;
    right: 100px;
    width: 370px;
}
#wave{
    height: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}
#wave2{
    height: 0;
    right: 0;
    overflow: hidden;
    position: absolute;
    top: 600px;
    z-index: 1000;
}
#video{
    position: absolute;
    top: 40px;
    left: 100px;
    opacity: 0;
}
#logo3{
    position: absolute;
    right: 0;
    top: 900px;
    opacity: 0;

}
#iphone{
    margin: 0 auto;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 5000;
    opacity: 0;
}
.blacksquere{
    background: #000000;
    height: 40px;
}

#circle{
    position: absolute;
    right: 0;
    top: 50px;
    opacity: 0;
    z-index: 1000;
}
#circle2{  
    opacity: 0;
    z-index: 1003;
    position: relative;
    padding-top: 40px;
}

#circle3{
    opacity: 0;
    position: absolute;
    right: 0;
    top: 480px;
    z-index: 1033;
}
#star{
    position: absolute;
    right: 80px;
    top: 50px;
    opacity: 0;
    z-index: 1001;
}
#star2{
    position: absolute;
    left: 270px;
    opacity: 0;
    z-index: 1005;
    top: 60px;
}
#star3{
    opacity: 0;
    position: absolute;
    right: 50px;
    top: 510px;
    z-index: 1156;
}
#SOCIALMEDIA{
    left: 110px;
    position: absolute;
    top: 60px;
    z-index: 10;
    opacity: 0;
}

#guess-iphone{
    position: absolute;
    bottom: -4px;
    opacity: 0;
}
#sprite-container{
    position: absolute;
    right: 0px;
     bottom: 100px;

}
.sprite{
    background-image:url('../images/GuessCS/sprite.png');
    height: 35px;
    width: 419px;
    margin-top: 10px;
    background-repeat: no-repeat;
    opacity: 0;

}
#sprite1{
    background-position:0px 0px;
}
#sprite2{
    background-position:0px -44px;
}
#sprite3{
    background-position:0px -87px;
}
#sprite4{
    background-position:0px -131px;
}
#sprite5{
    background-position:0px -175px;
}